{% extends 'ledger/base.html' %}
{% load i18n %}

{% block page_template_title %}
    {{ title }}
{% endblock page_template_title %}

{% block page_topic %}
    <h1 class="page-header text-center">
        {{ title }}
    </h1>
{% endblock page_topic %}

{% block ledger_block %}
    {% include 'ledger/partials/view-alliance-ledger/alliance-table.html' with characters=characters totals=totals %}

    {% include 'ledger/partials/thirdparty/billboard.html' %}

    <!-- Modals -->
    {% include 'ledger/partials/modal/modal.html' with name="ViewCharacter" %}
{% endblock %}

{% block extra_css %}
    {% include 'ledger/bundles/aa-ledger-css.html' %}
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js-bs5.html' %}
    <script>
        /**
         * Override settings for aaLedger
         */
        const aaLedgerSettingsOverride = {
            url: {
            },
            translations: {
            }
        };
    </script>
    {% include 'ledger/bundles/aa-ledger-js.html' %}
    {% include 'ledger/bundles/view-alliance-ledger-js.html' %}
{% endblock extra_javascript %}
