{% load i18n %}
{% load evelinks %}
{% load humanize %}
<div class="card mt-2 rounded">
    <!-- Corporation Ledger Table -->
    <div class="table-responsive">
        <div class="card-body">
            <div class="float-end">
                <button id="ledger-export-csv" class="aa-ledger-csv btn btn-sm btn-primary d-none">
                    {% translate "Export Table to CSV" %}
                </button>
            </div>
            <table class="table table-striped table-hover w-100" id="corporation-ledger-table">
                <thead>
                    <th class="w-auto">{% trans "Entity" %}</th>
                    <th class="w-auto">{% trans "Bounty Amount" %}</th>
                    <th class="w-auto">{% trans "ESS Amount" %}</th>
                    <th class="w-auto">{% trans "Misc. Amount" %}</th>
                    <th class="w-auto">{% trans "Costs" %}</th>
                    <th class="w-auto" style="border-left: 2px solid #888;">{% trans "Total" %}</th>
                    <th class="w-auto"></th>
                </thead>
                <tbody>
                </tbody>

                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>
