{% load i18n %}
{% load evelinks %}
{% load humanize %}
<div class="card mb-3">
    <div class="card-body bg-primary rounded-top d-flex align-items-center">
        <h3 class="me-3">{% translate "Corporation Ledger" %}</h3>
        {% if years %}
            <div class="dropdown px-2">
                <button id="divisionDropDownButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Division" %}
                </button>
                <ul class="dropdown-menu" id="divisionDropdown">
                    <li>
                        <a class="dropdown-item {% if division_id|default:'null' == 'null' %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id %}{% if view.type == 'single' %}?single=True{% endif %}">{% trans "All Divisions" %}</a>
                    </li>
                {% for division in divisions %}
                    <li>
                        {% if view.date.year %}
                            {% if view.date.month %}
                                {% if view.date.day %}
                                    <a class="dropdown-item {% if division_id|default:'null' == division.division_id %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id division_id=division.division_id year=view.date.year month=view.date.month day=view.date.day %}{% if view.type == 'single' %}?single=True{% endif %}">{{ division.name }}</a>
                                {% else %}
                                    <a class="dropdown-item {% if division_id|default:'null' == division.division_id %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id division_id=division.division_id year=view.date.year month=view.date.month %}{% if view.type == 'single' %}?single=True{% endif %}">{{ division.name }}</a>
                                {% endif %}
                            {% else %}
                                <a class="dropdown-item {% if division_id|default:'null' == division.division_id %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id division_id=division.division_id year=view.date.year %}{% if view.type == 'single' %}?single=True{% endif %}">{{ division.name }}</a>
                            {% endif %}
                        {% else %}
                            <a class="dropdown-item {% if division_id|default:'null' == division.division_id %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id division_id=division.division_id %}{% if view.type == 'single' %}?single=True{% endif %}">{{ division.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="dropdown px-2">
                <button id="yearDropDownButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Year" %}
                </button>
                <ul class="dropdown-menu" id="yearDropdown">
                    {% for year in years %}
                        <li>
                            {% if division_id %}
                                <a class="dropdown-item {% if view.date.year|default:'null' == year %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id division_id=division_id year=year %}{% if view.type == 'single' %}?single=True{% endif %}">{{ year }}</a>
                            {% else %}
                                <a class="dropdown-item {% if view.date.year|default:'null' == year %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id year=year %}{% if view.type == 'single' %}?single=True{% endif %}">{{ year }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown px-2">
                <button id="monthDropDownButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Month" %}
                </button>
                <ul class="dropdown-menu" id="monthDropdown">
                    {% for m in 12|range_filter %}
                        <li>
                            {% if division_id %}
                                <a class="dropdown-item {% if view.date.month|default:'null' == m %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id division_id=division_id year=view.date.year|default:view.date.current.year month=m %}{% if view.type == 'single' %}?single=True{% endif %}">
                                    {{ m|month_name }}
                                </a>
                            {% else %}
                                <a class="dropdown-item {% if view.date.month|default:'null' == m %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id year=view.date.year|default:view.date.current.year month=m %}{% if view.type == 'single' %}?single=True{% endif %}">
                                    {{ m|month_name }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown px-2">
                <button id="dayDropDownButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Day" %}
                </button>
                <ul class="dropdown-menu" id="dayDropdown">
                    {% month_days view.date as month_days %}
                    {% for day in month_days %}
                        <li>
                            {% if division_id %}
                                <a class="dropdown-item {% if view.date.day|default:'null' == day %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id division_id=division_id year=view.date.year|default:view.date.current.year month=view.date.month|default:view.date.current.month day=day %}{% if view.type == 'single' %}?single=True{% endif %}">
                                    {{ day }}
                                </a>
                            {% else %}
                                <a class="dropdown-item {% if view.date.day|default:'null' == day %}active{% endif %}" href="{% url 'ledger:corporation_ledger' corporation_id=corporation_id year=view.date.year|default:view.date.current.year month=view.date.month|default:view.date.current.month day=day %}{% if view.type == 'single' %}?single=True{% endif %}">
                                    {{ day }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="ms-auto">
            <a class="btn btn-secondary me-2 administration {% if disabled %}disabled{% endif %}" href="{% url 'ledger:corporation_administration' corporation_id=corporation_id %}">{% translate 'Administration' %}</a>
            <a href="{% url 'ledger:corporation_overview' %}"><button class="btn btn-secondary overview">{% translate 'Corporation Overview' %}</button></a>
        </div>
    </div>

    <!-- Corporation Ledger Table -->
    <div class="card-body rounded-bottom">
        <table class="table table-hover w-100" id="ratting">
            <thead>
                <th class="w-auto">{% trans "Character" %}</th>
                <th class="w-auto">{% trans "Bounty Amount" %}</th>
                <th class="w-auto">{% trans "ESS Amount" %}
                </th>
                <th class="w-auto">{% trans "Misc. Amount" %}</th>
                <th class="w-auto">{% trans "Costs" %}</th>
                <th class="w-auto" style="border-left: 2px solid #888;">{% trans "Total" %}</th>
                <th class="w-auto"></th>
            </thead>
            <tbody>
                {% for corporation_data in ledger %}
                    <tr>
                        <td class="nowrap">
                            <img src="{{ corporation_data.entity.portrait_url }}" class="rounded-circle" alt="{{ corporation_data.entity.entity_name }}">
                            {{ corporation_data.entity.entity_name }}
                            {% if corporation_data.alts %}
                            <i class="fa-regular fa-circle-question"
                            data-bs-toggle="corp-popover"
                            data-bs-html="true"
                            data-bs-trigger="hover focus"
                            data-bs-placement="top"
                            title="Included Characters"
                            data-bs-content="{% for alt_id, alt_name in corporation_data.alts.items %}<p><img src='{{ alt_id|character_portrait_url:32 }}' class='rounded-circle'>{{ alt_name }}</p>{% endfor %}">
                            </i>
                            {% endif %}
                        </td>
                        <td class="nowrap text-success" id="amount_ratting_{{ corporation_data.entity.entity_id }}" data-order="{{ corporation_data.ledger.bounty|default:0 }}">{{ corporation_data.ledger.bounty|floatformat:0|intcomma }} <span class="text-white">ISK</span></td>
                        <td class="nowrap text-success" id="amount_ess_{{ corporation_data.entity.entity_id }}" data-order="{{ corporation_data.ledger.ess|default:0 }}">{{ corporation_data.ledger.ess|floatformat:0|intcomma }} <span class="text-white">ISK</span></td>
                        <td class="nowrap text-success" id="amount_misc_{{ corporation_data.entity.entity_id }}" data-order="{{ corporation_data.ledger.miscellaneous|default:0 }}">{{ corporation_data.ledger.miscellaneous|floatformat:0|intcomma }} <span class="text-white">ISK</span></td>
                        <td class="nowrap text-danger" id="amount_costs_{{ corporation_data.entity.entity_id }}" data-order="{{ corporation_data.ledger.costs|default:0 }}">{{ corporation_data.ledger.costs|floatformat:0|intcomma }} <span class="text-white">ISK</span></td>
                        <td class="nowrap {% if corporation_data.ledger.total < 0 %}text-danger {% else %}text-success{% endif %}" style="border-left: 2px solid #888;" id="amount_total_{{ corporation_data.entity.entity_id }}" data-order="{{ corporation_data.ledger.total|default:0 }}">{{ corporation_data.ledger.total|floatformat:0|intcomma }} <span class="text-white">ISK</span></td>
                        <td>{{ corporation_data.entity.create_button }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot id="foot">
                <tr>
                    <th><strong>{% trans "Summary" %}</strong></th>
                    <th class="nowrap {% if totals.bounty < 0 %}text-danger {% else %}text-success{% endif %}" id="total_bounty" data-sort="{{ totals.bounty|default:0 }}">{{ totals.bounty|floatformat:0|intcomma }} <span class="text-white">ISK</span></th>
                    <th class="nowrap {% if totals.ess < 0 %}text-danger {% else %}text-success{% endif %}" id="total_ess" data-sort="{{ totals.ess|default:0 }}">{{ totals.ess|floatformat:0|intcomma }} <span class="text-white">ISK</span></th>
                    <th class="nowrap {% if totals.miscellaneous < 0 %}text-danger {% else %}text-success{% endif %}" id="total_misc" data-sort="{{ totals.miscellaneous|default:0 }}">{{ totals.miscellaneous|floatformat:0|intcomma }} <span class="text-white">ISK</span></th>
                    <th class="nowrap {% if totals.costs < 0 %}text-danger {% else %}text-success{% endif %}" id="total_costs" data-sort="{{ totals.costs|default:0 }}">{{ totals.costs|floatformat:0|intcomma }} <span class="text-white">ISK</span></th>
                    <th class="nowrap {% if totals.total < 0 %}text-danger {% else %}text-success{% endif %}" style="border-left: 2px solid #888;" id="total_total" data-sort="{{ totals.total|default:0 }}">{{ totals.total|floatformat:0|intcomma }} <span class="text-white">ISK</span></th>
                    <th>
                        {% if view.details_url %}
                            <button
                                class="btn btn-primary btn-sm btn-square"
                                data-bs-toggle="modal"
                                data-bs-target="#modalViewCharacterContainer"
                                data-ajax_url="{{ view.details_url }}"
                                title="{% trans 'View Details' %}"
                                data-tooltip-toggle="ledger-tooltip" data-bs-placement="right">
                                <span class="fas fa-info"></span>
                            </button>
                        {% endif %}
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
