@media all {
	.custom-line {
		height: 3px;
		border: none;
		background: linear-gradient(to right, rgb(0 170 255 / 100%) 0%, rgb(0 170 255 / 0%) 80%, rgb(0 170 255 / 0%) 100%);
		z-index: 1;
	}

	/* Style the Image Used to Trigger the Modal */
	.zoom {
		opacity: 0.7;
		border-radius: 10px;
		cursor: pointer;
		transition: 0.3s;
	}

	.zoom:hover {
		opacity: 1;
		transform: scale(1.1);
	}

	/* Custom CSS for tab mouseover */
	.nav-tabs .nav-link:hover {
		opacity: 0.8;
		color: white;
		border-color: white;
	}
}
