{% load i18n %}
{% load bootstrap %}

<!-- Approve Request Modal -->
<div class="modal fade" id="ledger-delete-confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span id="modal-title" class="fs-5">
                    <!-- Modal Title -->
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                <div class="ms-2 py-2">
                    <div id="modal-request-text">
                        <!-- Modal Request Text -->
                    </div>
                    <form method="post">
                        {% csrf_token %}
                    </form>
                    {% include 'ledger/partials/form/error-message.html' %}
                </div>
            <div class="modal-footer">
                <button id="modal-button-cancel-delete-request" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fa-solid fa-hand"></i> {% trans "Cancel" %}
                </button>

                <button id="modal-button-confirm-delete-request" type="button" class="btn btn-success">
                    <i class="fa-solid fa-check"></i> {% trans "Confirm" %}
                </button>
            </div>
        </div>
    </div>
</div>
