{% load i18n %}

<!-- view factory details modal -->
<div class="modal fade" id="ledger-view-planetary-factory" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fs-5">
                    {% translate "Factory" %} </span id="custom-title"></span>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
            </div>
            <div class="card border-0 modal-body" id="modal-ajax-content">
                <div id="table-factory-content">
                    {% include 'ledger/partials/view-character-planetary/storage-table.html' %}

                    {% include 'ledger/partials/view-character-planetary/factory-table.html' %}
                </div>
                <span class="text-muted small">
                    {% trans "Note: Planetary information is only recalculated when the colony is viewed through the client. Information will not update until this criteria is met." %}
                </span>
            </div>
            <div class="modal-footer">
                <button id="modal-button-cancel-request" type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                    {% translate "Close" %}
                </button>
            </div>
        </div>
    </div>
</div>
