{% load i18n %}
{% load evelinks %}
{% load humanize %}
<div class="card mb-3">
    <div class="card-header bg-primary rounded-top d-flex align-items-center">
        <h3 class="me-3">{% translate "Character Ledger" %}</h3>
        <div id="character-ledger-dropdown-buttons" class="d-flex">
            <div class="dropdown px-2">
                <button id="yearDropDownButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Year" %}
                </button>
                <ul class="dropdown-menu" id="character-ledger-year-selector">
                    <!-- Loaded via JavaScript -->
                </ul>
            </div>
            <div class="dropdown px-2">
                <button id="monthDropDownButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Month" %}
                </button>
                <ul class="dropdown-menu" id="character-ledger-month-selector">
                    <!-- Loaded via JavaScript -->
                </ul>
            </div>
            <div class="dropdown px-2">
                <button id="dayDropDownButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Day" %}
                </button>
                <ul class="dropdown-menu" id="character-ledger-day-selector">
                    <!-- Loaded via JavaScript -->
                </ul>
            </div>
        </div>
        <div class="ms-auto">
            <a class="btn btn-secondary me-2 administration" href="{% url 'ledger:character_administration' character_id=character_id %}" class="administration">{% translate 'Administration' %}{% if issues %} <span class="badge bg-warning">{{ issues }}</span>{% endif %}</a>
            <a href="{% url 'ledger:character_overview' %}" class="overview"><button class="btn btn-secondary overview">{% translate 'Account Overview' %}</button></a>
        </div>
    </div>

    <!-- Character Ledger Table -->
    <div class="table-responsive">
        <div class="card-body rounded-bottom">
            <table class="table table-striped table-hover w-100" id="character-ledger-table">
                <thead>
                    <th class="w-auto">{% trans "Character" %}</th>
                    <th class="w-auto">{% trans "Bounty Amount" %}</th>
                    <th class="w-auto">{% trans "ESS Amount" %}</th>
                    <th class="w-auto">{% trans "Mining Amount" %}</th>
                    <th class="w-auto">{% trans "Misc. Amount" %}</th>
                    <th class="w-auto">{% trans "Costs" %}</th>
                    <th class="w-auto" style="border-left: 2px solid #888;">{% trans "Total" %}</th>
                    <th class="w-auto"></th>
                </thead>
                <tbody>
                </tbody>

                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>
