{% load i18n %}

<div class="modal modal-xl fade" id="extractorInfoModal" tabindex="-1" aria-labelledby="extractorInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="extractorInfoModalLabel">{% trans "Extractor Information" %}: <span class="character-Info"><span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans "Product" %}</th>
                            <th>{% trans "Install Time" %}</th>
                            <th>{% trans "Expiry Time" %}</th>
                            <th>{% trans "Progress" %}</th>
                        </tr>
                    </thead>
                    <tbody class="modal-table-body">
                        <!-- details will be populated here -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
