{% load sri %}

{% sri_static 'taxsystem/libs/datatables/2.3.5/js/dataTables.js' %}
{% sri_static 'taxsystem/libs/datatables/2.3.5/js/dataTables.bootstrap5.js' %}

{% if extColumnControl == True %}
    {% sri_static "taxsystem/libs/datatables/Extensions/ColumnControl/1.1.1/js/dataTables.columnControl.js" %}
    {% sri_static "taxsystem/libs/datatables/Extensions/ColumnControl/1.1.1/js/columnControl.bootstrap5.js" %}
{% endif %}

{% if extFixedHeader == True %}
    {% sri_static "taxsystem/libs/datatables/Extensions/FixedHeader/4.0.4/js/dataTables.fixedHeader.js" %}
    {% sri_static "taxsystem/libs/datatables/Extensions/FixedHeader/4.0.4/js/fixedHeader.bootstrap5.js" %}
{% endif %}
