{% load i18n %}
{% load humanize %}
{% load static %}

<div role="tabpanel" class="tab-pane fade" id="tab-all_month">
    <div class="card-body bg-secondary table-responsive">
        <div id="loadingIndicator-Year" class="d-flex justify-content-center align-items-center">
            <img src="{% static 'ledger/images/Spinner-1s-64px-dark.gif' %}">
        </div>
        <div id="errorHandler-Year" class="d-flex d-none justify-content-center align-items-center">
            {% include 'ledger/permission.html' %}
        </div>
        {% include 'ledger/charledger/partials/table.html' with mode="Year" %}
        {% include 'ledger/charledger/partials/card.html' with mode="Year" %}
    </div>
    <br>
    <div class="rounded-top">
        <div class="row g-0">
            <div class="col-md-12 g-2 d-none" id="rattingBarContainer-Year">
                <div class="card-header bg-primary">
                    <h3 class="card-title">{% trans "Ledger Year" %}</h3>
                </div>
                <div class="card-body bg-secondary">
                    <div id="rattingBar-Year"></div>
                </div>
            </div>
            <div class="col-md-6 g-2 d-none" id="ChartContainer-Year">
                <div class="card-header bg-primary">
                    <h3 class="card-title">{% trans "Wallet Year" %}</h3>
                </div>
                <div class="card-body bg-secondary">
                    <div id="rattingChart-Year"></div>
                </div>
            </div>
            <div class="col-md-6 g-2 d-none" id="workGaugeContainer-Year">
                <div class="card-header bg-primary">
                    <h3 class="card-title">{% trans "Workflow Year" %}</h3>
                </div>
                <div class="card-body bg-secondary">
                    <div id="rattingworkGauge-Year"></div>
                </div>
            </div>
        </div>
    </div>

</div>
