{% load i18n %}
{% load evelinks %}
{% load humanize %}
<div class="card mb-3">
    <div class="card-header bg-primary rounded-top d-flex align-items-center">
        <h3 class="me-3">{% translate "Corporation Ledger" %}</h3>
        <div id="dropdown alliance-ledger-dropdown-buttons me-2" class="d-flex">
            {% if forms.alliance_dropdown %}
                <div class="me-2">
                    <form id="alliance-ledger-dropdown-form" method="post" href="{% url 'ledger:alliance_ledger' alliance_id=alliance_id %}" class="d-flex">
                        {% csrf_token %}
                        {{ forms.alliance_dropdown.year }}
                        {{ forms.alliance_dropdown.month }}
                        {{ forms.alliance_dropdown.day }}
                        <button id="alliance-ledger-submit" type="submit" class="btn btn-success">{% translate "Submit" %}</button>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="ms-auto">
            <a class="btn btn-secondary me-2 administration" href="{% url 'ledger:alliance_administration' alliance_id=alliance_id %}" class="administration">{% translate 'Administration' %}{% if issues %} <span class="badge bg-warning">{{ issues }}</span>{% endif %}</a>
            <a href="{% url 'ledger:alliance_overview' %}" class="overview"><button class="btn btn-secondary overview">{% translate 'Account Overview' %}</button></a>
        </div>
    </div>

    <!-- Alliance Ledger Table -->
    <div class="table-responsive">
        <div class="card-body rounded-bottom">
            <table class="table table-striped table-hover w-100" id="alliance-ledger-table">
                <thead>
                    <th class="w-auto">{% trans "Entity" %}</th>
                    <th class="w-auto">{% trans "Bounty Amount" %}</th>
                    <th class="w-auto">{% trans "ESS Amount" %}</th>
                    <th class="w-auto">{% trans "Misc. Amount" %}</th>
                    <th class="w-auto">{% trans "Costs" %}</th>
                    <th class="w-auto" style="border-left: 2px solid #888;">{% trans "Total" %}</th>
                    <th class="w-auto"></th>
                </thead>
                <tbody>
                </tbody>

                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>
