{% load i18n %}
{% load evelinks %}
{% load humanize %}
<div class="card card-body mt-2 rounded">
    <!-- Alliance Ledger Table -->
    <div class="table-responsive">
        <table class="table table-striped table-hover w-100" id="alliance-ledger-table">
            <thead>
                <th class="w-auto">{% trans "Entity" %}</th>
                <th class="w-auto">{% trans "Bounty Amount" %}</th>
                <th class="w-auto">{% trans "ESS Amount" %}</th>
                <th class="w-auto">{% trans "Misc. Amount" %}</th>
                <th class="w-auto">{% trans "Costs" %}</th>
                <th class="w-auto" style="border-left: 2px solid #888;">{% trans "Total" %}</th>
                <th class="w-auto"></th>
            </thead>
            <tbody>
            </tbody>

            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
