{% extends 'ledger/base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load ledger %}

{% block page_title %}Corporation Ledger{% endblock %}
{% block page_topic %}<h1 class="page-header text-center">{% trans "Corporation Ledger" %}</h1>{% endblock page_topic %}

{% block vow_block %}
<div class="card-body container-fluid">
    <div class="card-body bg-primary rounded-top d-flex">
        <h3>{% trans "Corporation Ledger" %} </h3>
        <div class="dropdown px-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Year
            </button>
            <ul class="dropdown-menu" id="yearDropdown">
                {% for year in years %}
                    <li><a class="dropdown-item" href="#">{{ year }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Month
            </button>
            <ul class="dropdown-menu" id="monthDropdown">
                <li><a class="dropdown-item" data-bs-month-id="1" href="#">{% trans "January" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="2" href="#">{% trans "February" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="3" href="#">{% trans "March" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="4" href="#">{% trans "April" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="5" href="#">{% trans "May" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="6" href="#">{% trans "June" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="7" href="#">{% trans "July" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="8" href="#">{% trans "August" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="9" href="#">{% trans "September" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="10" href="#">{% trans "October" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="11" href="#">{% trans "November" %}</a></li>
                <li><a class="dropdown-item" data-bs-month-id="12" href="#">{% trans "December" %}</a></li>
            </ul>
        </div>
    </div>
    <ul class="nav nav-tabs" id="ledger-ratting" role="tablist">
        <li class="nav-item">
            <a id="currentMonthLink" class="nav-link active" href="#tab-current_month" data-bs-toggle="tab" role="tab" data-bs-target="#tab-current_month">
                Month - {% now "F" %}
            </a>
        </li>
        <li class="nav-item">
            <a id="currentYearLink" class="nav-link" href="#tab-all_month" data-bs-toggle="tab" role="tab" data-bs-target="#tab-all_month">
                Year - {% now "Y" %}
            </a>
        </li>
    </ul>
    <div class="tab-content rounded-bottom">
        <div class="tab-content">
            {% include 'ledger/corpledger/month.html' %}
            {% include 'ledger/corpledger/year.html' with years=years %}
        </div>
    </div>
</div>

<!-- Tab Session -->
{% include 'ledger/modals/modal_dialog.html' with name="ViewCharacter" %}
{% endblock %}
{% block extra_css %}
<style>
@media all {
    #ratting th, #ratting_year th,
    #ratting td, #ratting_year td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    #ratting thead th, #ratting_year thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    #ratting tbody td:nth-child(5), #ratting_year tbody td:nth-child(5) {
        text-align: right;
    }

    #ratting tfoot th:nth-child(5), #ratting_year tfoot th:nth-child(5) {
        text-align: right;
    }

    #ratting tr, #ratting_year tr {
        border-bottom: 1px solid #dee2e6;
    }

}
</style>
{% endblock %}
{% block extra_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'ledger/css/billboards_dark.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/3.11.3/billboard.min.js" integrity="sha512-rW9pOtBGPL12EGH9SeJmQWtVRvMImYHFGcYmTG/f9UIEO8I/nl2BxUQ41+t0ieqRdTF3PawVUVBXC7Jnb3AGnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% include 'bundles/datatables-js-bs5.html' %}
<script type="application/javascript">
    $('#modalViewCharacterContainer').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget)
        let ajax_url = button.data('ajax_url');

        $("#modalViewCharacterContent").load(ajax_url)
    });
</script>
<script type="application/javascript">
    let corporationsettings = {
        corporation_pk: {{ corporation_pk }},
    };
    let tableloader = "{% if NIGHT_MODE %}" +
    "<img src=\"{% static 'killstats/img/Spinner-1s-64px-dark.gif' %}\">" +
    "{% else %}" +
    "<img src=\"{% static 'killstats/img/Spinner-1s-64px-light.gif' %}\">" +
    "{% endif %}" +
    " Lädt...";
</script>
<script type="application/javascript">
var total_amount, total_amount_ess, total_amount_combined;
var chart_1, chart_2, rattingBar_1, rattingBar_2;
var selectedMonth, selectedYear, monthText, yearText;
var MonthTable, YearTable;
var bb, d3;
var has403Error = false;
// eslint-disable-next-line no-undef
var corporationPk = corporationsettings.corporation_pk;

// Aktuelles Datumobjekt erstellen
var currentDate = new Date();

// Aktuelles Jahr und Monat abrufen
selectedYear = currentDate.getFullYear();
selectedMonth = currentDate.getMonth() + 1;
monthText = getMonthName(selectedMonth);

function resizeCharts() {
    if (rattingBar_1){
        rattingBar_1.resize({height: 320});
    }

    if (chart_1){
        chart_1.resize({height: 320});
    }

    if (rattingBar_2) {
        rattingBar_2.resize({height: 320});
    }

    if (chart_2) {
        chart_2.resize({height: 320});
    }
}

function getMonthName(monthNumber) {
    var months = ['January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'];
    return months[monthNumber - 1]; // Array ist 0-basiert, daher -1
}

// Function to format currency and apply color
function formatAndColor(value) {
    // Formatieren und Komma-Stellen entfernen
    var formattedValue = new Intl.NumberFormat('de-DE', { minimumFractionDigits: 0, maximumFractionDigits: 0 }).format(value);

    // Bestimme die Textfarbe basierend auf dem Wert
    var color = value >= 0 ? 'chartreuse' : 'red';

    // Rückgabe des formatierten Strings mit Farbe und Einheit
    return '<span style="color: ' + color + ';">' + formattedValue + '</span> ISK';
}

$('#monthDropdown li').click(function() {
    $('#month-bar-loading').removeClass('d-none');
    $('#month-chart-loading').removeClass('d-none');
    MonthTable.clear().draw();
    chart_1.unload();
    rattingBar_1.unload();
    $('#foot').hide();
    selectedMonth = $(this).find('a').data('bs-month-id');
    monthText = getMonthName(selectedMonth);

    // URL für die Daten der ausgewählten Kombination von Jahr und Monat erstellen
    var newurl = '/ledger/api/corporation/' + corporationPk + '/ledger/year/' + selectedYear + '/month/' + selectedMonth + '/';

    // DataTable neu laden mit den Daten des ausgewählten Monats
    reloadMonthAjax(newurl);
    //MonthAjax.url(url).load();
    $('#currentMonthLink').text('Month - ' + monthText);
});

$('#yearDropdown li').click(function() {
    $('#month-bar-loading').removeClass('d-none');
    $('#month-chart-loading').removeClass('d-none');
    YearTable.clear().draw();
    chart_1.unload();
    chart_2.unload();
    rattingBar_1.unload();
    rattingBar_2.unload();
    $('#foot-year').hide();

    selectedYear = $(this).text();

    // URL für die Daten der ausgewählten Kombination von Jahr und Monat erstellen
    var newurl = '/ledger/api/corporation/' + corporationPk + '/ledger/year/' + selectedYear + '/month/' + selectedMonth + '/';
    var newurl_year = '/ledger/api/corporation/' + corporationPk + '/ledger/year/' + selectedYear + '/month/0/';

    // DataTable neu laden mit den Daten des ausgewählten Monats
    reloadMonthAjax(newurl);
    reloadYearAjax(newurl_year);
    $('#currentMonthLink').text('Month - ' + monthText);
    $('#currentYearLink').text('Year - ' + selectedYear);
});

function hideAll() {
    $('#ChartContainer').hide();
    $('#rattingBarContainer').hide();
    $('#foot').hide();
    $('#ChartYearContainer').hide();
    $('#rattingBarContainerYear').hide();
    $('#foot-year').hide();
}

function showAll() {
    $('#ChartContainer').show();
    $('#rattingBarContainer').show();
    $('#foot').show();
    $('#ChartYearContainer').show();
    $('#rattingBarContainerYear').show();
    $('#foot-year').show();
}

function reloadMonthAjax(newUrl) {
    $('#loadingIndicator').removeClass('d-none');
    MonthAjax.url = newUrl; // Update URL
    $('#ratting').DataTable().destroy();
    $.ajax(MonthAjax);
    resizeCharts();
}

var MonthAjax = {
    url: '/ledger/api/corporation/' + corporationPk + '/ledger/year/' + selectedYear + '/month/' + selectedMonth + '/',
    type: 'GET',
    success: function(data) {
        $('#loadingIndicator').addClass('d-none');
        total_amount = data[0].total.total_amount;
        total_amount_ess = data[0].total.total_amount_ess;
        total_amount_combined = data[0].total.total_amount_all;

        // Billboard
        if (data[0].billboard.charts) {
            $('#ChartContainer').show();
            $('#month-chart-loading').addClass('d-none');
            var maxpg = 0;
            data[0].billboard.charts.forEach(function (arr) {
                if (maxpg < arr[0]) {
                    maxpg = arr[0];
                }
            });
            if (chart_1) {
                chart_1.load({
                    columns: data[0].billboard.charts,
                    unload: charts_1_cache,
                    done: function() {
                        charts_1_cache = data[0].billboard.charts;
                    },
                    resizeAfter: true,
                });
            } else {
                var charts_1_cache = data[0].billboard.charts;
                chart_1 = bb.generate({
                    data: {
                        columns: data[0].billboard.charts,
                        type: 'donut'
                    },
                    bindto: '#rattingChart',
                    legend: {
                    show: false
                    }
                });
            }
        } else {
            $('#ChartContainer').hide();
        }

        // RattingBar
        if (data[0].billboard.rattingbar) {
            $('#rattingBarContainer').show();
            $('#month-bar-loading').addClass('d-none');
            var pgs = data[0].billboard.rattingbar.filter(arr => arr[0] !== 'x').map(arr => arr[0]);
            if (rattingBar_1) {
                rattingBar_1.load({
                    columns: data[0].billboard.rattingbar,
                    groups: [pgs],
                    resizeAfter: true,
                });
            } else {
                rattingBar_1 = bb.generate({
                    data: {
                        x: 'x',
                        columns: data[0].billboard.rattingbar,
                        type: 'bar',
                        groups: [pgs],
                    },
                    axis: {
                        x: {
                            padding: { right: 8000 * 60 * 60 * 12 },
                            type: 'timeseries',
                            tick: { format: '%Y-%m-%d', rotate: 45 }
                        },
                        y: {
                            tick: { format: d3.format(',') },
                            label: 'ISK'
                        },
                    },
                    bindto: '#rattingBar',
                    legend: {
                        show: false
                    }
                });
            }
        } else {
            $('#rattingBarContainer').hide();
        }

        MonthTable = $('#ratting').DataTable({
            data: data[0].ratting,
            "language": {
                "loadingRecords": tableloader,
            },
            'processing': false,
            columns: [
                {
                    data: 'main_name',
                    render: function (data, type, row) {
                        var imageHTML = '<img src="https://images.evetech.net/characters/' + row.main_id + '/portrait?size=32" class="rounded-circle" title="' + data + '" height="30">';
                        return imageHTML + ' ' + data;
                    }
                },
                {   data: 'total_amount',
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return formatAndColor(data);
                        }
                        return data;
                    }
                },
                {   data: 'total_amount_ess',
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return formatAndColor(data);
                        }
                        return data;
                    }
                },
                {
                    data: 'col-total-action',
                    render: function (data, type, row) {
                        if (!has403Error) {
                            return '<button class="btn btn-sm btn-info btn-square" ' +
                                'data-bs-toggle="modal" ' +
                                'data-bs-target="#modalViewCharacterContainer" ' +
                                'aria-label="' + row.main_name + '" ' +
                                'data-ajax_url="/ledger/api/corporation/'+ row.main_id + '/ledger/template/year/' + selectedYear + '/month/' + selectedMonth + '/" ' +
                                'title="' + row.main_name + '">' +
                                '<span class="fas fa-info"></span>' +
                                '</button>';
                        } else {
                            return '';
                        }
                    }
                },
            ],
            order: [[1, 'desc']],
            columnDefs: [
                { sortable: false, targets: [3] },
            ],
            footerCallback: function (row, data, start, end, display) {
                var totalAmountAllChars = parseFloat(total_amount);
                var totalEssAmountAllChars = parseFloat(total_amount_ess);
                var totalCombinedAmountAllChars = parseFloat(total_amount_combined);
                $('#foot .col-total-amount').html('' + formatAndColor(totalAmountAllChars) + '');
                $('#foot .col-total-ess').html('' + formatAndColor(totalEssAmountAllChars) + '');
                $('#foot .col-total-gesamt').html('' + formatAndColor(totalCombinedAmountAllChars) + '');
                $('#foot .col-total-button').html('<button class="btn btn-sm btn-info btn-square" data-bs-toggle="modal" data-bs-target="#modalViewCharacterContainer"' +
                    'aria-label="{{ data.main_name }}"' +
                    'data-ajax_url="/ledger/api/corporation/' + corporationPk + '/ledger/template/year/' + selectedYear + '/month/' + selectedMonth + '/?corp=true" ' +
                    'title="{{ data.main_name }}"> <span class="fas fa-info"></span></button>');
            },
        });
    }
}

function reloadYearAjax(newUrl) {
    $('#loadingIndicatorYear').removeClass('d-none');
    YearAjax.url = newUrl; // Update URL
    $('#ratting_year').DataTable().destroy();
    $.ajax(YearAjax);
}

var YearAjax = {
    url: '/ledger/api/corporation/' + corporationPk + '/ledger/year/' + selectedYear + '/month/0/',
    type: 'GET',
    success: function(data) {
        $('#loadingIndicatorYear').addClass('d-none');
        // Zusätzliche Daten im DataTable-Objekt speichern
        total_amount = data[0].total.total_amount;
        total_amount_ess = data[0].total.total_amount_ess;
        total_amount_combined = data[0].total.total_amount_all;

        // Billboard
        if (data[0].billboard.charts) {
            $('#ChartYearContainer').show();
            var maxpg = 0;
            data[0].billboard.charts.forEach(function (arr) {
                if (maxpg < arr[0]) {
                    maxpg = arr[0];
                }
            });
            if (chart_2) {
                chart_2.load({
                    columns: data[0].billboard.charts,
                    unload: charts_2_cache,
                    done: function() {
                        charts_2_cache = data[0].billboard.charts;
                    },
                    resizeAfter: false  // will resize after load
                });
            } else {
                var charts_2_cache = data[0].billboard.charts;
                chart_2 = bb.generate({
                    data: {
                        columns: data[0].billboard.charts,
                        type: 'donut'
                    },
                    donut: {
                        title: ''
                    },
                    bindto: '#rattingChartYear',
                    legend: {
                        show: false
                    }
                });
            }
        } else {
            $('#ChartYearContainer').hide();
        }

        // Ratting Bar
        if (data[0].billboard.rattingbar) {
            $('#rattingBarContainerYear').show();
            var pgs = [];
            data[0].billboard.rattingbar.forEach(function(arr) {
                if (arr[0] != 'x') {
                    pgs.push(arr[0]);
                }
            });
            rattingBar_2 = bb.generate({
                data: {
                    x: 'x',
                    columns: data[0].billboard.rattingbar,
                    type: 'bar',
                    groups: [pgs],
                },
                axis: {
                    x: {
                        padding: { right: 8000*60*60*12 },
                        type: 'timeseries',
                        tick: { format: '%Y-%m', rotate: 45 }
                    },
                    y: {
                        tick: { format: function(x) {
                            return d3.format(',')(x);
                        } },
                        label: 'ISK'
                    },
                },
                bindto: '#rattingBarYear',
                legend: {
                    show: false
                }
            });
        } else {
            $('#rattingBarContainerYear').hide();
        }

        YearTable = $('#ratting_year').DataTable({
            data: data[0].ratting,
            "language": {
                "loadingRecords": tableloader,
            },
            'processing': false,
            columns: [
                {
                    data: 'main_name',
                    render: function (data, type, row) {
                        var imageHTML = '<img src="https://images.evetech.net/characters/' + row.main_id + '/portrait?size=32" class="rounded-circle" title="' + data + '" height="30">';
                        return imageHTML + ' ' + data;
                    }
                },
                {   data: 'total_amount',
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return formatAndColor(data);
                        }
                        return data;
                    }
                },
                {   data: 'total_amount_ess',
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return formatAndColor(data);
                        }
                        return data;
                    }
                },
                {
                    data: 'col-total-action',
                    render: function (data, type, row) {
                        if (!has403Error) {
                            return '<button class="btn btn-sm btn-info btn-square" ' +
                                'data-bs-toggle="modal" ' +
                                'data-bs-target="#modalViewCharacterContainer" ' +
                                'aria-label="' + row.main_name + '" ' +
                                'data-ajax_url="/ledger/api/corporation/'+ row.main_id + '/ledger/template/year/' + selectedYear + '/month/0/" ' +
                                'title="' + row.main_name + '">' +
                                '<span class="fas fa-info"></span>' +
                                '</button>';
                        } else {
                            return '';
                        }
                    }
                },
            ],
            order: [[1, 'desc']],
            columnDefs: [
                { sortable: false, targets: [3] },
            ],
            footerCallback: function (row, data, start, end, display) {
                var totalAmountAllChars = parseFloat(total_amount);
                var totalEssAmountAllChars = parseFloat(total_amount_ess);
                var totalCombinedAmountAllChars = parseFloat(total_amount_combined);
                $('#foot-year .col-total-amount').html('' + formatAndColor(totalAmountAllChars) + '');
                $('#foot-year .col-total-ess').html('' + formatAndColor(totalEssAmountAllChars) + '');
                $('#foot-year .col-total-gesamt').html('' + formatAndColor(totalCombinedAmountAllChars) + '');
                $('#foot-year .col-total-button').html('<button class="btn btn-sm btn-info btn-square" data-bs-toggle="modal" data-bs-target="#modalViewCharacterContainer"' +
                    'aria-label="{{ data.main_name }}"' +
                    'data-ajax_url="/ledger/api/corporation/' + corporationPk + '/ledger/template/year/' + selectedYear + '/month/0/?corp=true" ' +
                    'title="{{ data.main_name }}"> <span class="fas fa-info"></span></button>');
            },
        });
    }
}

document.addEventListener('DOMContentLoaded', function () {
    // Initialize DataTable
    $.ajax(MonthAjax);
    $.ajax(YearAjax);
});

$('#monthDropdown li, #yearDropdown li').click(function() {
    resizeCharts();
});

$('#ledger-ratting').on('click', 'a[data-bs-toggle=\'tab\']', function () {
    console.log('Tab clicked');
    resizeCharts();
});

</script>
{% endblock extra_javascript %}
{% block extra_script %}
{% endblock extra_script %}
