name: PyPi Build Test

on:
  push:
    paths-ignore:
      - "**.css"
      - "**.js"
      - "**.md"
    branches:
      - master
  pull_request:
    paths-ignore:
      - "**.css"
      - "**.js"
      - "**.md"

jobs:
  build-test:
    name: PyPi Build Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python 3
        uses: actions/setup-python@v6
        with:
          python-version-file: 'pyproject.toml' # Read the Python version from the pyproject.toml file

      - name: Install Tools
        run: |
          python -m pip install -U pip
          python -m pip install --upgrade build
      - name: Package Build
        env:
          STACKMANAGER_VERSION: 9999
        run: python -m build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: dist
          if-no-files-found: ignore
